{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <nav>
            <a href="{% url 'home' %}" class="logo">oneshot</a>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Reddit</a></li>
                <li><a href="#">Account</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>